{%extends "base.html"%}
{%block headIncludes%}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/events.css">
<script>
</script>

{%endblock%}
{%block contentBody%}
<div id="events" class="d-flex flex-row">
  <div id="allevents">
    <ul>
      <li>
        <h5>2019</h5>
      </li>
      <li>
        <div class="date"><small>Jan</small><br><span>5</span></div>
        <a ref="#j5">Futures Panel @ Machine Learning in Eduction Conference</a>
      </li>
      <li>
        <div class="date"><small>Feb</small><br><span>26</span></div>
        <a href="#f26">Paper Presentation @ CSUF Research Expo</a>
      </li>
      <li>
        <div class="date"><small>Mar</small><br><span>17</span></div>
        <a href="#m17">Poster Presentation@ Google Lorem Events</a>
      </li>
      <li>
        <div class="date"><small>Apr</small><br><span>1</span></div>
        <a href="#a1">lorem @ ipsum dolor sit amet</a>
      </li>
      <li>
        <div class="date"><small>Apr</small><br><span>30</span></div>
        <a href="#a30">My Birthday @ ipsum dolor sit amet</a>
      </li>
      <li>
        <div class="date"><small>May</small><br><span>5</span></div>
        <a href="#ma5">Cinco de Mayo@ globally</a>
      </li>
      <li>
        <div class="date"><small>Aug</small><br><span>6</span></div>
        <a href="#au6">lorem @ ipsum dolor sit amet</a>
      </li>
    </ul>
  </div>
  <div id="eventdetails">
    <div class="mycard" id="j5">
      <h4>Futures Panel<br><small>Machine Learning in Eduction Conference</small></h4><br>
      <span>Lorem ipsum dolor sit amet, ex est officiis invenire abhorreant, duis sapientem vis ea, eos ne nibh graeco.
        Ei his meis quaeque quaerendum. Has at laudem propriae, alia dolorem ea vis, vis conceptam intellegam
        interpretaris ut. In duo sale veniam.

        Dicit accusamus hendrerit pri ut, semper facilisis similique has et. Duo solet iudicabit ex. In vis tritani
        phaedrum definitiones, denique instructior has ut. Ex reque deleniti definiebas pri, ad est saperet commune
        singulis. His in ornatus appetere.

        Habeo porro corpora id est. Movet veniam cum ea, at eum paulo sadipscing. Eu aeque signiferumque sea. Vitae
        delicatissimi sit te. Diam esse mel at, ne eos cetero convenire.

        Dico vocent audire ius cu, in vim quem magna, putent dolorum volumus ex duo. Postulant voluptatum ut ius, mei
        posse delenit invenire an. Impetus vidisse pri ut, ne sed discere civibus. Id duis recteque vel. Id nam
        forensibus appellantur. Rebum illud tempor per et, has in forensibus argumentum. Quo eu probo commodo
        consulatu, dicant volumus an vis.

        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Eam no porro dictas. Pro reque invidunt no, quaeque tibique sit ea. Nec graeco labores apeirian id, propriae
        officiis sadipscing pro ex. Dicant inciderint ne cum, vel copiosae recusabo repudiare ad. Nulla homero
        moderatius ei eos, in nam quem fuisset dolores. Iusto melius usu ei, quo ut mollis recteque.

        Ea duo mundi epicurei. Cu pri suas semper referrentur, usu ignota erroribus cu. Mutat lobortis eu nam, ea nec
        congue aperiam fierent. Tempor altera vis ad.

        Ex vis justo laboramus, duo suscipit prodesset at, mazim cetero eum et. Te pri discere fabulas scaevola, nihil
        assueverit ea ius, elitr mollis platonem vis no. Brute facer singulis id cum, in his tibique offendit
        principes. Est homero iudicabit ne, ex vel eros quaerendum. Ex oportere hendrerit eam, sea cu velit iusto. Vix
        eripuit voluptua id, vis esse inermis deleniti ei.

        Partem animal electram cum cu. Mei id graecis recteque interesset, erant simul dicam ad sed. Percipit torquatos
        efficiendi id vel, cum an nemore utroque vivendo. Sit ea viderer alterum splendide, no detracto mediocritatem
        mel.

        Albucius mnesarchum te pri, no pro unum inani, cu quot elit tractatos mea. Vix no altera quaeque constituto,
        noluisse recteque consequuntur vis id. No postea virtute luptatum mei. Nec ut graece facilis, melius aliquam
        accommodare quo ad. Ne saepe putant his, solet debitis et vel. Ius iuvaret scribentur ut, ut nostro feugiat
        molestie pri.

        Accumsan assentior ex his, laudem euismod cu mel. Et feugait fabellas pro, in duo odio conclusionemque. Mel eu
        deseruisse vituperata quaerendum, te has sapientem cotidieque philosophia. Voluptaria definitionem ut duo, eu
        fugit tacimates qui.

        Iuvaret minimum assueverit ex eam, est doming omittam insolens te, ea has ancillae maluisset iracundia. Ex usu
        summo facilisis, numquam explicari expetendis at mea, usu et causae omnium. Mei te feugait recteque elaboraret.
        Has te epicuri torquatos, sonet commodo an sea, recusabo accommodare vel in. In audire suscipit eum, ius
        aliquip alienum intellegam ei.

        Scripta concludaturque est no.
      </span>
    </div>
    <div class="mycard" id="f26">
      <h4>Paper Presentation<br><small>CSUF Research Exp</small></h4><br>
      <span>Lorem ipsum dolor sit amet, ex est officiis invenire abhorreant, duis sapientem vis ea, eos ne nibh graeco.
        Ei his meis quaeque quaerendum. Has at laudem propriae, alia dolorem ea vis, vis conceptam intellegam
        interpretaris ut. In duo sale veniam.

        Dicit accusamus hendrerit pri ut, semper facilisis similique has et. Duo solet iudicabit ex. In vis tritani
        phaedrum definitiones, denique instructior has ut. Ex reque deleniti definiebas pri, ad est saperet commune
        singulis. His in ornatus appetere.

        Habeo porro corpora id est. Movet veniam cum ea, at eum paulo sadipscing. Eu aeque signiferumque sea. Vitae
        delicatissimi sit te. Diam esse mel at, ne eos cetero convenire.

        Dico vocent audire ius cu, in vim quem magna, putent dolorum volumus ex duo. Postulant voluptatum ut ius, mei
        posse delenit invenire an. Impetus vidisse pri ut, ne sed discere civibus. Id duis recteque vel. Id nam
        forensibus appellantur. Rebum illud tempor per et, has in forensibus argumentum. Quo eu probo commodo
        consulatu, dicant volumus an vis.

        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Eam no porro dictas. Pro reque invidunt no, quaeque tibique sit ea. Nec graeco labores apeirian id, propriae
        officiis sadipscing pro ex. Dicant inciderint ne cum, vel copiosae recusabo repudiare ad. Nulla homero
        moderatius ei eos, in nam quem fuisset dolores. Iusto melius usu ei, quo ut mollis recteque.

        Ea duo mundi epicurei. Cu pri suas semper referrentur, usu ignota erroribus cu. Mutat lobortis eu nam, ea nec
        congue aperiam fierent. Tempor altera vis ad.

        Ex vis justo laboramus, duo suscipit prodesset at, mazim cetero eum et. Te pri discere fabulas scaevola, nihil
        assueverit ea ius, elitr mollis platonem vis no. Brute facer singulis id cum, in his tibique offendit
        principes. Est homero iudicabit ne, ex vel eros quaerendum. Ex oportere hendrerit eam, sea cu velit iusto. Vix
        eripuit voluptua id, vis esse inermis deleniti ei.

        Partem animal electram cum cu.
      </span>
    </div>
    <div class="mycard" id="m17">
      <h4>Poster Presentation<br><small>Google Lorem Events</small></h4><br>
      <span>Lorem ipsum dolor sit amet, ex est officiis invenire abhorreant, duis sapientem vis ea, eos ne nibh graeco.
        Ei his meis quaeque quaerendum. Has at laudem propriae, alia dolorem ea vis, vis conceptam intellegam
        interpretaris ut. In duo sale veniam.

        Dicit accusamus hendrerit pri ut, semper facilisis similique has et. Duo solet iudicabit ex. In vis tritani
        phaedrum definitiones, denique instructior has ut. Ex reque deleniti definiebas pri, ad est saperet commune
        singulis. His in ornatus appetere.

        Habeo porro corpora id est. Movet veniam cum ea, at eum paulo sadipscing. Eu aeque signiferumque sea. Vitae
        delicatissimi sit te. Diam esse mel at, ne eos cetero convenire.

        Dico vocent audire ius cu, in vim quem magna, putent dolorum volumus ex duo. Postulant voluptatum ut ius, mei
        posse delenit invenire an. Impetus vidisse pri ut, ne sed discere civibus. Id duis recteque vel. Id nam
        forensibus appellantur. Rebum illud tempor per et, has in forensibus argumentum. Quo eu probo commodo
        consulatu, dicant volumus an vis.

        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Eam no porro dictas.
    </div>

    <div class="mycard" id="a1">
      <h4>Lorem<br><small>ipsum dolor sit amet</small></h4><br>
      <span>
        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Eam no porro dictas. Pro reque invidunt no, quaeque tibique sit ea. Nec graeco labores apeirian id, propriae
        officiis sadipscing pro ex. Dicant inciderint ne cum, vel copiosae recusabo repudiare ad. Nulla homero
        moderatius ei eos, in nam quem fuisset dolores. Iusto melius usu ei, quo ut mollis recteque.

        Ea duo mundi epicurei. Cu pri suas semper referrentur, usu ignota erroribus cu. Mutat lobortis eu nam, ea nec
        congue aperiam fierent. Tempor altera vis ad.

        Ex vis justo laboramus, duo suscipit prodesset at, mazim cetero eum et. Te pri discere fabulas scaevola, nihil
        assueverit ea ius, elitr mollis platonem vis no. Brute facer singulis id cum, in his tibique offendit
        principes. Est homero iudicabit ne, ex vel eros quaerendum. Ex oportere hendrerit eam, sea cu velit iusto. Vix
        eripuit voluptua id, vis esse inermis deleniti ei.

        Partem animal electram cum cu.
      </span>
    </div>
    <div class="mycard" id="a30">
      <h4>My Birthday<br><small>ipsum dolor sit amet</small></h4><br>
      <span>
        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Partem animal electram cum cu.
      </span>
    </div>
    <div class="mycard" id="ma5">
      <h4>Cinco De Mayo<br><small>Globally</small></h4><br>
      <span>
        Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
        aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
        imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
        legimus vituperata. Solet mollis argumentum eos eu.

        Ex vis justo laboramus, duo suscipit prodesset at, mazim cetero eum et. Te pri discere fabulas scaevola, nihil
        assueverit ea ius, elitr mollis platonem vis no. Brute facer singulis id cum, in his tibique offendit
        principes. Est homero iudicabit ne, ex vel eros quaerendum. Ex oportere hendrerit eam, sea cu velit iusto. Vix
        eripuit voluptua id, vis esse inermis deleniti ei.
      </span>
    </div>
    <div class="mycard" id="au6">
        <h4>Lorem<br><small>ipsum dolor sit amet</small></h4><br>
        <span>
          Oporteat ullamcorper nam cu. Eos te laoreet prodesset, wisi quaerendum id vel, dictas efficiendi ius at. Ex qui
          aliquam accusata suavitate, cum ne omnis ancillae. Quo populo quodsi constituto et, vis eu nominavi scaevola
          imperdiet, mei ad eligendi forensibus. Quo etiam homero mediocritatem ne. Et nam melius electram, ei pro natum
          legimus vituperata. Solet mollis argumentum eos eu.
  
          Eam no porro dictas. Pro reque invidunt no, quaeque tibique sit ea. Nec graeco labores apeirian id, propriae
          officiis sadipscing pro ex. Dicant inciderint ne cum, vel copiosae recusabo repudiare ad. Nulla homero
          moderatius ei eos, in nam quem fuisset dolores. Iusto melius usu ei, quo ut mollis recteque.
  
          Ea duo mundi epicurei. Cu pri suas semper referrentur, usu ignota erroribus cu. Mutat lobortis eu nam, ea nec
          congue aperiam fierent. Tempor altera vis ad.
  
          Ex vis justo laboramus, duo suscipit prodesset at, mazim cetero eum et. Te pri discere fabulas scaevola, nihil
          assueverit ea ius, elitr mollis platonem vis no. Brute facer singulis id cum, in his tibique offendit
          principes. Est homero iudicabit ne, ex vel eros quaerendum. Ex oportere hendrerit eam, sea cu velit iusto. Vix
          eripuit voluptua id, vis esse inermis deleniti ei.
  
          Partem animal electram cum cu.
        </span>
      </div>
  </div>
</div>
{%endblock%}