#contactForm{
    background-color: rgba(255,255,255,0.7);
    border-radius:7px;
    margin-top: 5rem;
    justify-self: center;
    max-width: 400px;
    padding: 25px;
}
.btn{
    margin:10px;
    align-self: center;
}
#recipChannel{
    max-width:140px;
}
.form-check{
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.form-check-label{
    padding-top:5px;
}

#submitted{
    background-color: rgba(255,255,255,0.7);
    border-radius:7px;
    margin-top: 5rem;
    justify-self: center;
    align-content:center;
    justify-content:center;
    max-width: 400px;
    padding: 25px;
}